.elective-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    
    background-color: #f8fbf9;
  }
  
  .confirmation-status-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 200px;
    width: 400px;
    background-color: #f8f8f8;
    height:100;
    text-align: center;
    
  }
  
  .elective-form {
    display: flex;
    flex-direction: column;
  }
  
  .course-option {
    margin: 10px 0;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  